.logo-house {
  width: 100%;
  height: 350px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.members {
  display: flex;
  align-items: center;
  justify-content: center;
}
