<div class="row search">
  <div class="col-lg-8">
    <label for="houses" class="mb-3 mt-3"
      >Select the house of your preference</label
    >
    <select
      class="form-select mb-3"
      aria-label="Default select example"
      name="houses"
      [(ngModel)]="houseSelected"
      (click)="getData(houseSelected)"
    >
      <option *ngFor="let house of houses; let i = index" [value]="house.value">
        {{ house.name }}
      </option>
    </select>
  </div>
  <div class="col-lg-4">
    <h2 class="members">
      Members: <strong>{{ data.length }}</strong>
    </h2>
  </div>
</div>
<div class="row">
  <div class="mb-3">
    <label for="search" class="form-label">Search Character</label>
    <input
      type="text"
      class="form-control"
      id="search"
      placeholder="Search by name or lastname..."
      (keyup)="searchCharacter($event)"
    />
  </div>
  <div class="row m-1">
    <div *ngIf="message" class="alert alert-primary" role="alert">
      Member not found, try with another name or lastname...
    </div>
  </div>
</div>
