//This is to center the select element
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

//This is to center the members text
.members {
  display: flex;
  align-items: center;
  justify-content: center;
}
