<app-search (dataEvent)="getDataFromParent($event)"></app-search>

<div class="row cards">
  <div
    class="card text-dark bg-light mb-3 mt-3"
    style="width: 18rem"
    *ngFor="let character of characters; let i = index"
  >
    <div class="card-header">
      <img
        src="{{ character.image }}"
        class="card-img-top"
        alt="caracterImage"
      />
    </div>
    <div class="card-body">
      <div class="card-text attributes">
        <!-- Properties of the character -->
        <div>
          <label class="strong" for=""><strong>Name: </strong></label>
          <span> {{ character.name }}</span>
        </div>
        <div>
          <label class="strong" for=""><strong>Ancestry: </strong></label>
          <span>
            {{ character.ancestry ? character.ancestry : "Without info" }}</span
          >
        </div>
        <div>
          <label class="strong" for=""><strong>Date Of Birth: </strong></label>
          <span>
            {{
              character.dateOfBirth ? character.dateOfBirth : "Without info"
            }}</span
          >
        </div>
        <div>
          <label class="" for=""><strong>House: </strong></label>
          <span> {{ character.house ? character.house : "Without info" }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
