//this is to show information in a column with diferents rows
.attributes {
  display: flex;
  flex-direction: column;
}

//Override the bootstrap style to stylish the card element
.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: black;
}

//This let set the width and height of the card element
.infoCard {
  background-color: white;
  width: 270px;
  height: 100%;
  border-radius: 16px 16px 15px 15px;
  margin: 8px;
}

//this let stylish the header of the card component and add animation
.header {
  padding: 0;
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    height: 280px;
    border-radius: 15px 15px 0 0;
  }

  &::before {
    content: "";
    z-index: 10;
    position: absolute;
    height: 200%;
    width: 200%;
    top: -120%;
    left: -120%;
    background: linear-gradient(
      transparent 0%,
      rgba(255, 255, 255, 0.1) 45%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0.1) 55%,
      transparent 100%
    );
    transition: all 2s;
    transform: rotate(-45deg);
    animation: shine 6s infinite forwards;
  }
  @keyframes shine {
    0% {
      top: -120%;
      left: -120%;
    }
    20% {
      left: 100%;
      top: 100%;
    }
    40% {
      left: 100%;
      top: 100%;
    }
    100% {
      left: 100%;
      top: 100%;
    }
  }
}
