<app-search (dataEvent)="getDataFromParent($event)"></app-search>

<div class="rows cards">
  <div
    class="infoCard mt-3 mb-3"
    *ngFor="let character of characters; let i = index"
  >
    <div class="card-img-top header">
      <img src="{{ character.image }}" [alt]="character.name" />
    </div>
    <div class="card-body">
      <div class="card-text attributes">
        <!-- Properties of the character -->
        <div class="mb-1">
          <span [ngClass]="getClassColor(character.house)">{{
            character.house ? character.house : "Without info"
          }}</span>
        </div>
        <div>
          <label class="strong" for=""><strong>Name: </strong></label>
          <span> {{ character.name }}</span>
        </div>
        <div>
          <label class="strong" for=""><strong>Ancestry: </strong></label>
          <span>
            {{ character.ancestry ? character.ancestry : "Without info" }}</span
          >
        </div>
        <div>
          <label class="strong" for=""><strong>Date Of Birth: </strong></label>
          <span>
            {{
              character.dateOfBirth ? character.dateOfBirth : "Without info"
            }}</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
