<div class="card border-primary mb-3" style="width: 18rem">
  <div class="card-header">
    <img src="..." class="card-img-top" alt="caracterImage" />
  </div>
  <div class="card-body">
    <div class="card-text attributes">
      <!-- Properties of the character -->
      <div>
        <label class="strong" for=""><strong>Name: </strong></label>
        <span>Harry Potter</span>
      </div>
      <div>
        <label class="strong" for=""><strong>Ancestry: </strong></label>
        <span>Half-Blood</span>
      </div>
      <div>
        <label class="strong" for=""><strong>Date Of Birth: </strong></label>
        <span>31-07-1980</span>
      </div>
      <div>
        <label class="" for=""><strong>House: </strong></label>
        <span>Gryffindor</span>
      </div>
      <!-- Property to show shield of the house -->
      <img src="" alt="house shield" />
    </div>
  </div>
</div>
